ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
p{text-align: center; position: relative;margin-top: 30px}
ul.breadcrumb li a {color: black;}
.time {
  	text-align: center;
  	position: absolute;
  	bottom: 10px;
  	margin-left: auto;
  	margin-right: auto;
  }
.photo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top:20px;
	padding:12px 24px;
   	max-width:980px;
    	max-width:90%;
   	height:auto;
    	margin-top:16px}
img{vertical-align:middle}
